
.btn {
    padding: 10px;
    background-color: #1E1014;
    color: #E4D9FF;
}
.counter{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.counter .btn{
    margin: 5px;
}
/* .cont {
    padding-left: 15px;
} */